// ? Hero Section

// Base Call To Action styles.
.call_to_action {
  color: $primary-font-color;
  font-family: $primary-font;
  font-size: $regular-font;
  font-weight: 700;
  letter-spacing: 0.1rem;

  padding: 1.2rem 1.8rem;

  display: inline-block;
  border-radius: 0.5rem;

  transition: all 0.3s ease;

  &__name {
    position: relative;
    top: 0.125rem;
  }

  // Solid Background
  &--solid {
    background: $primary-color;
  }

  // Transparent Background
  &--transparent {
    outline: 1px solid $primary-color;
  }

  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
}

.hero {
  // Container centered with max width equal to $breakpoint-xl.
  &__container {
    max-width: $breakpoint-xl;
    width: $global-width;
    margin: 2rem auto;
  }

  // Stacked layout on mobile.
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;

  // Equal spacing for banner and content.
  > * {
    flex: 1;
  }

  &__banner {
    &__image {
      filter: grayscale(100%);
    }
  }

  // Max content width of 68 characters.
  &__content {
    max-width: 68ch;

    &__name {
      font-family: $primary-font;
      font-size: $medium-font;
      font-weight: 700;

      margin-bottom: 2rem;
    }

    &__info {
      font-family: $secondary-font;
      font-size: $regular-font;
      line-height: 1.6;
      text-align: justify;

      display: flex;
      flex-direction: column;
      gap: 1.25rem;

      margin-bottom: 2rem;

      &__item {
        .bold_text {
          font-weight: 700;
        }

        .medium_text {
          font-weight: 500;
        }

        .link {
          color: $primary-font-color;
          font-weight: 500;
          text-decoration: underline;
        }
      }
    }

    // Equally spaced call to action buttons.
    &__call_to_action {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  // Side by side layout for desktop.
  .hero {
    flex-direction: row;

    &__content {
      &__info {
        text-align: left;
      }

      &__call_to_action {
        justify-content: flex-start;
        gap: 2rem;
      }
    }
  }
}
