// ? SITE COLORS

// ^ Primary Colors
$primary-color: hsl(0, 0%, 75%);
$primary-color-light: hsl(0, 0%, 90%);
$primary-color-dark: hsl(0, 0%, 60%);

// ^ Secondary Colors
$secondary-color: hsl(0, 0%, 45%);
$secondary-color-light: hsl(0, 0%, 55%);
$secondary-color-dark: hsl(0, 0%, 35%);

// ^ Highlight Colors
$highlight-color: hsl(0, 0%, 20%);
$highlight-color-light: hsl(0, 0%, 30%);
$highlight-color-dark: hsl(0, 0%, 10%);
