// ? SITE COLORS

// * General Colors

// ^ Primary Colors
$primary-color: hsl(0, 0%, 75%);
$primary-color-light: hsl(0, 0%, 90%);
$primary-color-dark: hsl(0, 0%, 60%);

// ^ Secondary Colors
$secondary-color: hsl(0, 0%, 45%);
$secondary-color-light: hsl(0, 0%, 55%);
$secondary-color-dark: hsl(0, 0%, 35%);

// ^ Highlight Colors
$highlight-color: hsl(0, 0%, 20%);
$highlight-color-light: hsl(0, 0%, 30%);
$highlight-color-dark: hsl(0, 0%, 10%);

// * Font Colors

// ^ Primary Font Colors
$primary-font-color: hsl(0, 0%, 8%);
$primary-font-color-light: hsl(0, 0%, 10%);
$primary-font-color-dark: hsl(0, 0%, 6%);

// ^ Secondary Font Colors
$secondary-font-color: hsl(0, 0%, 12%);
$secondary-font-color-light: hsl(0, 0%, 14%);
$secondary-font-color-dark: hsl(0, 0%, 10%);

// ^ Highlight Font Colors
$highlight-font-color: hsl(0, 0%, 4%);
$highlight-font-color-light: hsl(0, 0%, 6%);
$highlight-font-color-dark: hsl(0, 0%, 2%);
