// ? SITE FONTS

// * Font Families

$primary-font: "Josefin Sans", sans-serif;
$secondary-font: "Maven Pro", sans-serif;
$general-font: "Roboto", sans-serif;

// * Font Sizes

$monster-font: 4rem;
$huge-font: 3rem;
$large-font: 2rem;
$medium-font: 1.25rem;
$regular-font: 1rem;
$small-font: 0.875rem;
$tiny-font: 0.75rem;

// * Font Weights

$bold-font: 700;
$medium-font: 500;
$regular-font: 400;
