// ? CSS Resets

// Remove margins and paddings.

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Clean list style bullets.
li {
  list-style: none;
}

// Clean link text decorations.
a {
  text-decoration: none;
}

// Clean button border and background.
button {
  border: none;
  background: none;
}

img {
  max-width: 100%;
}
