// ? SITE RESETS

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $primary-font-color;
  font-family: $general-font;
}

a {
  color: $primary-font-color;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
