// ? PAGE SPACERS

// * Section Spacing

$section-spacing: 4rem;

$section-spacing-half: $section-spacing / 2;
$section-spacing-quarter: $section-spacing / 4;

// * Paragraph Spacing

$paragraph-spacing-large: 1.25rem;
$paragraph-spacing-medium: 1rem;
$paragraph-spacing-regular: 0.6rem;
$paragraph-spacing-small: 0.4rem;

// * Item Spacing

$item-spacing-large: 1.5rem;
$item-spacing-medium: 1.2rem;
$item-spacing-regular: 0.8rem;
$item-spacing-small: 0.6rem;
$item-spacing-tiny: 0.4rem;

// * Content Spacing

$content-spacing-large: 4rem;
$content-spacing-medium: 3rem;
$content-spacing-regular: 2rem;
$content-spacing-small: 1rem;
$content-spacing-tiny: 0.6rem;
