.call_to_action {
  display: inline-block;
  padding: $item-spacing-regular $item-spacing-large;

  font-family: $secondary-font;
  font-size: $regular-font;
  font-weight: $bold-font-weight;

  border: 2px solid #00000000;
  border-radius: 0.6rem;

  @include click-effect;

  &--solid {
    background: $primary-color;

    &:hover {
      background: $primary-color-dark;
    }
  }

  &--hollow {
    border: 2px solid $primary-color;
  }
}
