.navigation {
  &__list {
    display: flex;
    align-items: center;
    gap: $item-spacing-regular;

    &__item {
      @include click-effect;

      &__link {
        font-size: $small-font;
        font-weight: $bold-font-weight;
      }
    }
  }
}
