@import "./base/globals";
@import "./base/resets";

@import "./components/base/branding";
@import "./components/base/navigation";
@import "./components/base/social_links";
@import "./components/base/navigation_toggle";
@import "./components/base/mobile_navigation_list";
@import "./components/base/mobile_social_links_list";
@import "./components/base/call_to_action";

.mobile_navigation {
  height: 0px;
  overflow: hidden;

  position: absolute;
  inset: 0;
  z-index: 9;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $content-spacing-large;

  transition: all 0.3s ease;

  background: $primary-color;
}

.page_header {
  @include auto-container-width;
  max-width: $global-container;
  margin: 0 auto;

  display: flex;
  align-items: center;

  &__container {
    background: $primary-color-light;
    padding-top: $section-spacing-quarter;
    padding-bottom: $section-spacing-quarter;
  }

  .branding {
    position: relative;
    z-index: 9;
  }

  .navigation {
    display: none;

    @media (min-width: $breakpoint-sm) {
      display: block;
      margin-left: $content-spacing-regular;
    }
  }

  .social_links {
    display: none;

    @media (min-width: $breakpoint-sm) {
      display: block;
      margin-left: auto;
    }
  }

  .navigation_toggle {
    position: relative;
    z-index: 9;
    margin-left: auto;

    @media (min-width: $breakpoint-sm) {
      display: none;
    }
  }
}
