@import "./base/globals";
@import "./base/resets";

@import "./components/home/banner";
@import "./components/home/content";
@import "./components/home/carousel";
@import "./components/home/project";

.hero {
  @include auto-container-width;
  max-width: $global-container;
  margin: $section-spacing-quarter auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $content-spacing-large;

  > * {
    flex: 1;
  }

  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
  }

  &__container {
    background: $primary-color-light;
    padding-top: $section-spacing-quarter;
    padding-bottom: $section-spacing-quarter;
  }

  .banner {
    &__image {
      filter: grayscale(100%);
    }
  }

  .content {
    &__name {
      display: block;
      margin-bottom: $item-spacing-large;
    }

    &__info {
      &__name {
        display: inline;
        font-size: $regular-font;
        font-weight: $regular-font-weight;
      }
    }

    .call_to_action__container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: $content-spacing-regular;

      @media (min-width: $breakpoint-lg) {
        justify-content: flex-start;
      }
    }
  }
}

.featured_blogs {
  &__container {
    @include auto-container-width;
    max-width: $global-container;
    margin: $section-spacing auto;
  }
}

.technologies {
  &__container {
    @include auto-container-width;
    max-width: $global-container;
    margin: $section-spacing auto;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $content-spacing-regular;

  > * {
    flex: 1;
  }

  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
  }

  .content {
    &__name {
      margin-bottom: $item-spacing-large;
    }

    &__info {
      font-size: $regular-font;
      text-align: justify;
      margin-bottom: $content-spacing-regular;
    }

    &__technology_list {
      margin-bottom: $content-spacing-regular;

      &__item {
        font-size: $regular-font;
        margin-bottom: $item-spacing-small;

        &__icon {
          margin-right: $item-spacing-small;
        }
      }
    }

    .call_to_action {
      text-transform: uppercase;
    }
  }

  &__banner {
    position: relative;
    min-height: 26rem;

    filter: grayscale(100%);

    &__container {
      display: block;
      width: 4.5rem;
      padding: $content-spacing-small;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (min-width: $breakpoint-md) {
        width: 6rem;
      }

      &:hover {
        transition: 0.3s ease;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      }

      &--special {
        width: 8rem;
      }

      &--orientation {
        width: fit-content;
      }

      &__icon {
        display: block;
        width: 100%;
      }
    }
  }
}

.projects {
  &__container {
    @include auto-container-width;
    max-width: $global-container;
    margin: $section-spacing auto;
  }

  &__name {
    font-family: $primary-font;
    font-size: $large-font;
    font-weight: $bold-font-weight;
    margin-bottom: $content-spacing-regular;
    text-align: center;
  }

  &__gallery {
    display: grid;
    gap: $content-spacing-small;
    grid-template-columns: repeat(1, 1fr);

    margin-bottom: $content-spacing-regular;

    @media (min-width: $breakpoint-md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $breakpoint-lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__all_projects_link {
    display: block;
    width: fit-content;
    margin-left: auto;

    font-size: $regular-font;

    &__icon {
      margin-right: $item-spacing-tiny;
    }

    &__name {
      font-weight: $bold-font-weight;
    }
  }
}

.newsletter {
  &__container {
    @include auto-container-width;
    max-width: $global-container;
    margin: $section-spacing auto;
  }
}
