@import "./base/globals";
@import "./base/resets";

@import "./components/home/banner";
@import "./components/home/content";
@import "./components/home/carousel";
@import "./components/home/project";
@import "./components/home/testimonials_slider";
@import "./components/home/qualification";
@import "./components/home/experience";

.hero {
  @include auto-container-width;
  max-width: $global-container;
  margin: $section-spacing-half auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $content-spacing-large;

  > * {
    flex: 1;
  }

  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
  }

  &__container {
    background: $primary-color-light;
    padding-top: $section-spacing-quarter;
    padding-bottom: $section-spacing-quarter;
  }

  .banner {
    &__image {
      filter: grayscale(100%);
    }
  }

  .content {
    &__name {
      display: block;
      margin-bottom: $item-spacing-large;
    }

    &__info {
      text-align: justify;

      &__name {
        display: inline;
        font-size: $regular-font;
        font-weight: $regular-font-weight;
      }
    }

    .call_to_action__container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: $content-spacing-regular;

      @media (min-width: $breakpoint-lg) {
        justify-content: flex-start;
      }
    }
  }
}

.featured_blogs {
  &__container {
    @include auto-container-width;
    max-width: $global-container;
    margin: $section-spacing-half auto;
  }
}

.technologies {
  &__container {
    background: $primary-color-light;
    padding: $section-spacing-half 0;
  }

  @include auto-container-width;
  max-width: $global-container;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $content-spacing-regular;

  > * {
    flex: 1;
  }

  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
  }

  .content {
    &__name {
      margin-bottom: $item-spacing-large;
    }

    &__info {
      font-size: $regular-font;
      text-align: justify;
      margin-bottom: $content-spacing-regular;
    }

    &__technology_list {
      margin-bottom: $content-spacing-regular;

      &__item {
        font-size: $regular-font;
        margin-bottom: $item-spacing-small;

        &__icon {
          margin-right: $item-spacing-small;
        }
      }
    }

    .call_to_action {
      text-transform: uppercase;
    }
  }

  &__banner {
    position: relative;
    min-height: 26rem;

    filter: grayscale(100%);

    &__container {
      display: block;
      width: 4.5rem;
      padding: $content-spacing-small;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
      background: $primary-color;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (min-width: $breakpoint-md) {
        width: 6rem;
      }

      &:hover {
        transition: 0.3s ease;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        background: $secondary-color-light;
      }

      &--special {
        width: 8rem;
      }

      &--orientation {
        // display: none;
        opacity: 0;
        position: relative;
        z-index: -1;
      }

      &__icon {
        display: block;
        width: 100%;
      }
    }
  }
}

.projects {
  &__container {
    @include auto-container-width;
    max-width: $global-container;
    margin: $section-spacing-half auto;
  }

  &__name {
    font-family: $primary-font;
    font-size: $large-font;
    font-weight: $bold-font-weight;
    margin-bottom: $content-spacing-regular;
    text-align: center;
  }

  &__gallery {
    display: grid;
    gap: $content-spacing-small;
    grid-template-columns: repeat(1, 1fr);

    margin-bottom: $content-spacing-regular;

    @media (min-width: $breakpoint-md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $breakpoint-lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__all_projects_link {
    display: block;
    width: fit-content;
    margin-left: auto;

    font-size: $regular-font;

    &__icon {
      margin-right: $item-spacing-tiny;
    }

    &__name {
      font-weight: $bold-font-weight;
    }
  }
}

.newsletter {
  &__container {
    background: $primary-color-light;
  }

  @include auto-container-width;
  max-width: $global-container;
  margin: 0 auto;
  padding: $content-spacing-small 0;

  &__subscription_form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: $item-spacing-regular;

    @media (min-width: $breakpoint-lg) {
      flex-direction: row;
    }

    &__email {
      border: none;
      flex: 3;
      display: block;
      padding: $item-spacing-regular;
      border-radius: 0.6rem;
      font-size: $regular-font;
    }

    &__submit {
      flex: 1;
      padding: $item-spacing-small $item-spacing-regular;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.testimonials {
  &__container {
    @include auto-container-width;
    max-width: $global-container;
    margin: $section-spacing-half auto;
  }

  &__name {
    font-family: $primary-font;
    font-size: $large-font;
    font-weight: $bold-font-weight;
    margin-bottom: $content-spacing-regular;
    text-align: center;
  }
}

.qualifications {
  &__container {
    background: $primary-color-light;
    padding: $section-spacing-half 0;
  }

  @include auto-container-width;
  max-width: $global-container;
  margin: 0 auto;

  &__name {
    font-family: $primary-font;
    font-size: $large-font;
    font-weight: $bold-font-weight;
    margin-bottom: $content-spacing-regular;
    text-align: center;
  }

  .qualification_list {
    display: flex;
    flex-direction: column;
    gap: $item-spacing-large;
    align-items: center;
  }

  &__all_qualifications_link {
    display: block;
    width: fit-content;
    margin-top: $content-spacing-regular;
    margin-left: auto;

    font-size: $regular-font;

    &__icon {
      margin-right: $item-spacing-tiny;
    }

    &__name {
      font-weight: $bold-font-weight;
    }
  }
}

.experiences {
  &__container {
    @include auto-container-width;
    max-width: $global-container;
    margin: $section-spacing-half auto;
  }

  &__name {
    font-family: $primary-font;
    font-size: $large-font;
    font-weight: $bold-font-weight;
    margin-bottom: $content-spacing-regular;
    text-align: center;
  }

  &__list {
    max-width: $breakpoint-lg;
    margin: 0 auto;
    margin-bottom: $content-spacing-regular;
  }

  &__logos {
    display: grid;
    gap: $item-spacing-large;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);

    @media (min-width: $breakpoint-md) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: $breakpoint-lg) {
      grid-template-columns: repeat(6, 1fr);
    }

    &__item {
      width: 100%;
      border-radius: 0.6rem;
    }
  }
}

.contact {
  &__container {
    background: $primary-color-light;
    padding: $section-spacing-half 0;
  }

  @include auto-container-width;
  max-width: $global-container;
  margin: 0 auto;

  display: grid;
  gap: $content-spacing-regular;

  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;

  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  &__content {
    @media (min-width: $breakpoint-lg) {
      grid-column: 1;
      grid-row: 1;
    }

    &__name {
      font-family: $primary-font;
      font-size: $large-font;
      font-weight: $bold-font-weight;
      margin-bottom: $content-spacing-regular;
    }

    &__links {
      display: flex;
      flex-direction: column;
      gap: $item-spacing-tiny;

      &__item {
        display: flex;
        align-items: center;
        gap: $item-spacing-small;

        &__icon {
          font-weight: $bold-font-weight;
          font-size: $medium-font;
        }

        &__name {
          font-weight: $medium-font-weight;
        }
      }
    }
  }

  &__direct {
    @media (min-width: $breakpoint-lg) {
      grid-column: 1;
      grid-row: 2;

      margin-top: auto;
      max-width: 48ch;
    }

    &__info {
      margin-bottom: $item-spacing-regular;
    }

    .call_to_action__container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: $item-spacing-regular;

      .call_to_action {
        text-align: center;
      }

      @media (min-width: $breakpoint-md) {
        flex-direction: row;
      }
    }
  }

  &__form {
    @media (min-width: $breakpoint-lg) {
      grid-column: 2;
      grid-row: 1 / 3;
    }

    display: flex;
    flex-direction: column;

    border-radius: 0.6rem;
    padding: $item-spacing-regular;

    background: $primary-color;
    gap: $item-spacing-regular;

    &__name_input,
    &__email_input,
    &__message_input {
      border: none;
      border-radius: 0.6rem;
      font-size: $regular-font;
      padding: 0.4rem;
      font-family: inherit;
    }

    &__message_input {
      resize: none;
      height: 100%;
      min-height: 8rem;
    }

    &__submit {
      width: fit-content;
      align-self: flex-end;

      border: none;
      border-radius: 0.6rem;
      font-family: $primary-font;
      font-size: $regular-font;
      font-weight: $bold-font-weight;
      padding: $item-spacing-small $item-spacing-large;
    }
  }
}
