.bold-text {
  font-weight: 700;
}

.medium-text {
  font-weight: 500;
}

.underlined-text {
  text-decoration: underline;
}

.prevent-scroll {
  height: 100vh;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #141414;
  font-family: "Roboto", sans-serif;
}

a {
  color: #141414;
  text-decoration: none;
}

ul {
  list-style: none;
}

.branding {
  display: block;
}
.branding__name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.125rem;
  font-weight: 700;
}

.navigation__list {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navigation__list__item {
  transition: all 0.3s ease;
}
.navigation__list__item:hover {
  transform: translateY(-0.1rem);
}
.navigation__list__item:active {
  transform: translateY(0);
}
.navigation__list__item__link {
  font-size: 1rem;
  font-weight: 700;
}

.social_links__list {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.social_links__list__item {
  transition: all 0.3s ease;
}
.social_links__list__item:hover {
  transform: translateY(-0.1rem);
}
.social_links__list__item:active {
  transform: translateY(0);
}
.social_links__list__item__link {
  font-size: 1rem;
}

.navigation_toggle {
  border: none;
  background: none;
  transition: all 0.3s ease;
}
.navigation_toggle:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.navigation_toggle:active {
  transform: translateX(0) scale(1);
}
.navigation_toggle__icon {
  font-size: 2.125rem;
}

.mobile_navigation_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.mobile_navigation_list__item {
  transition: all 0.3s ease;
}
.mobile_navigation_list__item:hover {
  color: #1a1a1a;
  transform: translateY(-0.1rem) scale(1.1);
}
.mobile_navigation_list__item:active {
  transform: translateX(0) scale(1);
}
.mobile_navigation_list__item__link {
  font-size: 3.4rem;
  font-weight: 700;
}

.mobile_social_links_list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.mobile_social_links_list__item {
  transition: all 0.3s ease;
}
.mobile_social_links_list__item:hover {
  color: #1a1a1a;
  transform: translateY(-0.1rem) scale(1.1);
}
.mobile_social_links_list__item:active {
  transform: translateX(0) scale(1);
}
.mobile_social_links_list__item__link {
  font-size: 2.125rem;
  font-weight: 700;
}

.call_to_action {
  display: inline-block;
  padding: 1rem 1.5rem;
  font-family: "Maven Pro", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  border: 2px solid #00000000;
  border-radius: 0.6rem;
  transition: all 0.3s ease;
}
.call_to_action:hover {
  transform: translateY(-0.1rem);
}
.call_to_action:active {
  transform: translateY(0);
}
.call_to_action--solid {
  background: #bfbfbf;
}
.call_to_action--solid:hover {
  background: #999999;
}
.call_to_action--hollow {
  border: 2px solid #bfbfbf;
}

.mobile_navigation {
  height: 0px;
  overflow: hidden;
  position: absolute;
  inset: 0;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  transition: all 0.3s ease;
  background: #bfbfbf;
}

.page_header {
  width: 92%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .page_header {
    width: 88%;
  }
}
@media (min-width: 1024px) {
  .page_header {
    width: 84%;
  }
}
@media (min-width: 1280px) {
  .page_header {
    width: 80%;
  }
}
@media (min-width: 1536px) {
  .page_header {
    width: 80%;
  }
}
.page_header__container {
  background: #e6e6e6;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.page_header .branding {
  position: relative;
  z-index: 9;
}
.page_header .navigation {
  display: none;
}
@media (min-width: 640px) {
  .page_header .navigation {
    display: block;
    margin-left: 2rem;
  }
}
.page_header .social_links {
  display: none;
}
@media (min-width: 640px) {
  .page_header .social_links {
    display: block;
    margin-left: auto;
  }
}
.page_header .navigation_toggle {
  position: relative;
  z-index: 9;
  margin-left: auto;
}
@media (min-width: 640px) {
  .page_header .navigation_toggle {
    display: none;
  }
}

/*# sourceMappingURL=base.css.map */
