.bold-text {
  font-weight: 700;
}

.medium-text {
  font-weight: 500;
}

.underlined-text {
  text-decoration: underline;
}

.prevent-scroll {
  height: 100vh;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #141414;
  font-family: "Roboto", sans-serif;
}

a {
  color: #141414;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.banner__image {
  max-width: 100%;
}

.content {
  max-width: 64ch;
}
.content__name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.125rem;
  font-weight: 700;
}
.content__info {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.4;
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .content__info {
    text-align: left;
  }
}

.carousel {
  overflow: hidden;
  position: relative;
  min-height: 38rem;
  border-radius: 0.6rem;
}
@media (min-width: 1024px) {
  .carousel {
    min-height: 48rem;
  }
}
.carousel__navigation__button {
  position: absolute;
  z-index: 9;
  background: none;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.125rem;
}
.carousel__navigation__button:hover {
  cursor: pointer;
}
.carousel__navigation__button--previous {
  left: 1rem;
}
.carousel__navigation__button--next {
  right: 1rem;
}
.carousel__cards .carousel_card {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
  opacity: 0;
  z-index: 0;
}
.carousel__cards .carousel_card--active {
  opacity: 1;
  z-index: 1;
}
.carousel__cards .carousel_card__banner {
  position: absolute;
  inset: 0;
}
.carousel__cards .carousel_card__banner__image {
  border-radius: 0.6rem;
  display: block;
  object-fit: cover;
  object-position: center;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.carousel__cards .carousel_card__content {
  position: absolute;
  inset: 0;
  top: unset;
  padding: 0 0.6rem;
  padding-bottom: 3rem;
}
.carousel__cards .carousel_card__content__name {
  font-size: 2.125rem;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 1rem;
  max-width: 38ch;
}
.carousel__cards .carousel_card__content__info {
  font-size: 1rem;
  font-family: 1rem;
  max-width: 64ch;
}
@media (min-width: 1024px) {
  .carousel__cards .carousel_card__content {
    padding: 0 2rem;
    padding-bottom: 3rem;
  }
}
.carousel__index {
  position: absolute;
  z-index: 1;
  bottom: 0.6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.carousel__index__dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: #e6e6e6;
}
.carousel__index__dot:hover {
  cursor: pointer;
}
.carousel__index__dot--active {
  background: #999999;
}

.project {
  display: block;
  position: relative;
  min-height: 18rem;
}
@media (min-width: 1024px) {
  .project:hover .project__content {
    color: #e6e6e6;
  }
  .project:hover .project__content__name {
    margin-bottom: 1rem;
  }
  .project:hover .project__content__info {
    height: 2rem;
  }
  .project:hover .project__banner {
    background: rgba(0, 0, 0, 0.5);
  }
  .project:hover .project__link_icon {
    opacity: 1;
  }
}
.project__content {
  position: absolute;
  inset: 1rem;
  top: auto;
}
.project__content__name {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.3s ease;
}
@media (min-width: 1024px) {
  .project__content__name {
    margin-bottom: 0;
  }
}
.project__content__info {
  font-size: 0.765rem;
  font-weight: 300;
  max-width: 38ch;
  transition: all 0.3s ease;
}
@media (min-width: 1024px) {
  .project__content__info {
    height: 0px;
    overflow: hidden;
  }
}
.project__banner {
  height: 100%;
  border-radius: 0.6rem;
  transition: all 0.3s ease;
}
.project__banner__image {
  border-radius: 0.6rem;
  display: block;
  object-fit: cover;
  object-position: center;
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.project__link_icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 0;
  transition: all 0.3s ease;
}

.testimonials_slider {
  position: relative;
  min-height: 36rem;
  max-width: 1024px;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .testimonials_slider {
    min-height: 16rem;
  }
}
.testimonials_slider__navigation_button {
  position: absolute;
  z-index: 9;
  bottom: 2rem;
  border: none;
  border-radius: 50%;
  background: #bfbfbf;
  padding: 1rem;
  transition: all 0.3s ease;
}
.testimonials_slider__navigation_button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  transform: scale(1.1);
}
.testimonials_slider__navigation_button--previous {
  left: 0;
}
.testimonials_slider__navigation_button--next {
  left: 4rem;
}
.testimonials_slider .testimonial {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: all 0.3s ease;
  opacity: 0;
}
@media (min-width: 1024px) {
  .testimonials_slider .testimonial {
    flex-direction: row;
    gap: 4rem;
  }
}
.testimonials_slider .testimonial--active {
  opacity: 1;
}
.testimonials_slider .testimonial__content {
  margin: 0 auto;
  order: 1;
}
@media (min-width: 1024px) {
  .testimonials_slider .testimonial__content {
    flex: 3;
    order: 0;
  }
}
.testimonials_slider .testimonial__content__info {
  text-align: justify;
  max-width: 68ch;
  line-height: 1.4;
  margin-bottom: 2rem;
}
.testimonials_slider .testimonial__content__author {
  display: flex;
  flex-direction: column;
}
.testimonials_slider .testimonial__content__author__name {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}
.testimonials_slider .testimonial__content__author__info {
  font-size: 0.875rem;
  opacity: 0.65;
}
@media (min-width: 1024px) {
  .testimonials_slider .testimonial__banner {
    flex: 1;
  }
}
.testimonials_slider .testimonial__banner__image {
  margin: 0 auto;
  max-width: 16rem;
  background: #bfbfbf;
  padding: 1rem;
  border-radius: 50%;
}

.qualification {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  background: #bfbfbf;
  border-radius: 0.6rem;
  transition: all 0.3s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
@media (min-width: 1024px) {
  .qualification {
    flex-direction: row;
  }
}
.qualification:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transform: scale(1.01);
}
.qualification:hover .qualification__link_icon {
  opacity: 1;
}
.qualification__content {
  order: 1;
  padding: 1rem;
}
@media (min-width: 1024px) {
  .qualification__content {
    flex: 3;
    align-self: flex-end;
    background: #bfbfbf;
    border-radius: 0.6rem;
    border-bottom-right-radius: 0;
    order: 0;
  }
}
.qualification__content__name {
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.qualification__content__info {
  max-width: 64ch;
}
@media (min-width: 1024px) {
  .qualification__banner {
    flex: 1.5;
  }
}
.qualification__banner__image {
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}
@media (min-width: 1024px) {
  .qualification__banner__image {
    border-top-left-radius: 0;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
  }
}
.qualification__link_icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 0;
  transition: all 0.3s ease;
}

.experience {
  position: relative;
  padding-left: 3rem;
  padding-bottom: 3rem;
  border-left: 1px solid #bfbfbf;
}
.experience::before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.5rem;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: #999999;
}
.experience__banner {
  background: #bfbfbf;
  width: fit-content;
  padding: 0.6rem 1rem;
  margin-bottom: 1.25rem;
}
.experience__banner__name {
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
}
.experience__content {
  display: flex;
  flex-direction: column;
}
.experience__content__name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 1.4rem;
}
.experience__content__info {
  font-family: "Maven Pro", sans-serif;
  font-size: 0.875rem;
  opacity: 0.65;
  margin-bottom: 1rem;
}

.hero {
  width: 92%;
  max-width: 1280px;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
@media (min-width: 768px) {
  .hero {
    width: 88%;
  }
}
@media (min-width: 1024px) {
  .hero {
    width: 84%;
  }
}
@media (min-width: 1280px) {
  .hero {
    width: 80%;
  }
}
@media (min-width: 1536px) {
  .hero {
    width: 80%;
  }
}
.hero > * {
  flex: 1;
}
@media (min-width: 1024px) {
  .hero {
    flex-direction: row;
  }
}
.hero__container {
  background: #e6e6e6;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.hero .banner__image {
  filter: grayscale(100%);
}
.hero .content__name {
  display: block;
  margin-bottom: 1.5rem;
}
.hero .content__info {
  text-align: justify;
}
.hero .content__info__name {
  display: inline;
  font-size: 1rem;
  font-weight: 400;
}
.hero .content .call_to_action__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 1024px) {
  .hero .content .call_to_action__container {
    justify-content: flex-start;
  }
}

.featured_blogs__container {
  width: 92%;
  max-width: 1280px;
  margin: 4rem auto;
}
@media (min-width: 768px) {
  .featured_blogs__container {
    width: 88%;
  }
}
@media (min-width: 1024px) {
  .featured_blogs__container {
    width: 84%;
  }
}
@media (min-width: 1280px) {
  .featured_blogs__container {
    width: 80%;
  }
}
@media (min-width: 1536px) {
  .featured_blogs__container {
    width: 80%;
  }
}

.technologies {
  width: 92%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.technologies__container {
  background: #e6e6e6;
  padding: 4rem 0;
}
@media (min-width: 768px) {
  .technologies {
    width: 88%;
  }
}
@media (min-width: 1024px) {
  .technologies {
    width: 84%;
  }
}
@media (min-width: 1280px) {
  .technologies {
    width: 80%;
  }
}
@media (min-width: 1536px) {
  .technologies {
    width: 80%;
  }
}
.technologies > * {
  flex: 1;
}
@media (min-width: 1024px) {
  .technologies {
    flex-direction: row;
  }
}
.technologies .content__name {
  margin-bottom: 1.5rem;
}
.technologies .content__info {
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 2rem;
}
.technologies .content__technology_list {
  margin-bottom: 2rem;
}
.technologies .content__technology_list__item {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}
.technologies .content__technology_list__item__icon {
  margin-right: 0.8rem;
}
.technologies .content .call_to_action {
  text-transform: uppercase;
}
.technologies__banner {
  position: relative;
  min-height: 26rem;
  filter: grayscale(100%);
}
.technologies__banner__container {
  display: block;
  width: 4.5rem;
  padding: 1rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  background: #bfbfbf;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .technologies__banner__container {
    width: 6rem;
  }
}
.technologies__banner__container:hover {
  transition: 0.3s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background: #8c8c8c;
}
.technologies__banner__container--special {
  width: 8rem;
}
.technologies__banner__container--orientation {
  opacity: 0;
  position: relative;
  z-index: -1;
}
.technologies__banner__container__icon {
  display: block;
  width: 100%;
}

.projects__container {
  width: 92%;
  max-width: 1280px;
  margin: 4rem auto;
}
@media (min-width: 768px) {
  .projects__container {
    width: 88%;
  }
}
@media (min-width: 1024px) {
  .projects__container {
    width: 84%;
  }
}
@media (min-width: 1280px) {
  .projects__container {
    width: 80%;
  }
}
@media (min-width: 1536px) {
  .projects__container {
    width: 80%;
  }
}
.projects__name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.125rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}
.projects__gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .projects__gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .projects__gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
.projects__all_projects_link {
  display: block;
  width: fit-content;
  margin-left: auto;
  font-size: 1rem;
}
.projects__all_projects_link__icon {
  margin-right: 0.6rem;
}
.projects__all_projects_link__name {
  font-weight: 700;
}

.newsletter {
  width: 92%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 0;
}
.newsletter__container {
  background: #e6e6e6;
}
@media (min-width: 768px) {
  .newsletter {
    width: 88%;
  }
}
@media (min-width: 1024px) {
  .newsletter {
    width: 84%;
  }
}
@media (min-width: 1280px) {
  .newsletter {
    width: 80%;
  }
}
@media (min-width: 1536px) {
  .newsletter {
    width: 80%;
  }
}
.newsletter__subscription_form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 1024px) {
  .newsletter__subscription_form {
    flex-direction: row;
  }
}
.newsletter__subscription_form__email {
  border: none;
  flex: 3;
  display: block;
  padding: 1rem;
  border-radius: 0.6rem;
  font-size: 1rem;
}
.newsletter__subscription_form__submit {
  flex: 1;
  padding: 0.8rem 1rem;
}
.newsletter__subscription_form__submit:hover {
  cursor: pointer;
}

.testimonials__container {
  width: 92%;
  max-width: 1280px;
  margin: 4rem auto;
}
@media (min-width: 768px) {
  .testimonials__container {
    width: 88%;
  }
}
@media (min-width: 1024px) {
  .testimonials__container {
    width: 84%;
  }
}
@media (min-width: 1280px) {
  .testimonials__container {
    width: 80%;
  }
}
@media (min-width: 1536px) {
  .testimonials__container {
    width: 80%;
  }
}
.testimonials__name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.125rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}

.qualifications {
  width: 92%;
  max-width: 1280px;
  margin: 0 auto;
}
.qualifications__container {
  background: #e6e6e6;
  padding: 4rem 0;
}
@media (min-width: 768px) {
  .qualifications {
    width: 88%;
  }
}
@media (min-width: 1024px) {
  .qualifications {
    width: 84%;
  }
}
@media (min-width: 1280px) {
  .qualifications {
    width: 80%;
  }
}
@media (min-width: 1536px) {
  .qualifications {
    width: 80%;
  }
}
.qualifications__name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.125rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}
.qualifications .qualification_list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
.qualifications__all_qualifications_link {
  display: block;
  width: fit-content;
  margin-top: 2rem;
  margin-left: auto;
  font-size: 1rem;
}
.qualifications__all_qualifications_link__icon {
  margin-right: 0.6rem;
}
.qualifications__all_qualifications_link__name {
  font-weight: 700;
}

.experiences__container {
  width: 92%;
  max-width: 1280px;
  margin: 4rem auto;
}
@media (min-width: 768px) {
  .experiences__container {
    width: 88%;
  }
}
@media (min-width: 1024px) {
  .experiences__container {
    width: 84%;
  }
}
@media (min-width: 1280px) {
  .experiences__container {
    width: 80%;
  }
}
@media (min-width: 1536px) {
  .experiences__container {
    width: 80%;
  }
}
.experiences__name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.125rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}
.experiences__list {
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.experiences__logos {
  display: grid;
  gap: 1.5rem;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 768px) {
  .experiences__logos {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1024px) {
  .experiences__logos {
    grid-template-columns: repeat(6, 1fr);
  }
}
.experiences__logos__item {
  width: 100%;
  border-radius: 0.6rem;
}

.contact {
  width: 92%;
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
}
.contact__container {
  background: #e6e6e6;
  padding: 4rem 0;
}
@media (min-width: 768px) {
  .contact {
    width: 88%;
  }
}
@media (min-width: 1024px) {
  .contact {
    width: 84%;
  }
}
@media (min-width: 1280px) {
  .contact {
    width: 80%;
  }
}
@media (min-width: 1536px) {
  .contact {
    width: 80%;
  }
}
@media (min-width: 1024px) {
  .contact {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .contact__content {
    grid-column: 1;
    grid-row: 1;
  }
}
.contact__content__name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.125rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.contact__content__links {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.contact__content__links__item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.contact__content__links__item__icon {
  font-weight: 700;
  font-size: 1.4rem;
}
.contact__content__links__item__name {
  font-weight: 500;
}
@media (min-width: 1024px) {
  .contact__direct {
    grid-column: 1;
    grid-row: 2;
    margin-top: auto;
    max-width: 48ch;
  }
}
.contact__direct__info {
  margin-bottom: 1rem;
}
.contact__direct .call_to_action__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}
.contact__direct .call_to_action__container .call_to_action {
  text-align: center;
}
@media (min-width: 768px) {
  .contact__direct .call_to_action__container {
    flex-direction: row;
  }
}
.contact__form {
  display: flex;
  flex-direction: column;
  border-radius: 0.6rem;
  padding: 1rem;
  background: #bfbfbf;
  gap: 1rem;
}
@media (min-width: 1024px) {
  .contact__form {
    grid-column: 2;
    grid-row: 1/3;
  }
}
.contact__form__name_input, .contact__form__email_input, .contact__form__message_input {
  border: none;
  border-radius: 0.6rem;
  font-size: 1rem;
  padding: 0.4rem;
  font-family: inherit;
}
.contact__form__message_input {
  resize: none;
  height: 100%;
  min-height: 8rem;
}
.contact__form__submit {
  width: fit-content;
  align-self: flex-end;
  border: none;
  border-radius: 0.6rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.8rem 1.5rem;
}

/*# sourceMappingURL=home.css.map */
