/*
  ! HOME PAGE.
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

img {
  display: block;
  max-width: 100%;
}

.call_to_action {
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 1.2rem 1.8rem;
  display: inline-block;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}
.call_to_action__name {
  position: relative;
  top: 0.125rem;
}
.call_to_action--solid {
  background: #c4c4c4;
}
.call_to_action--transparent {
  outline: 1px solid #c4c4c4;
}
.call_to_action:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}
.hero__container {
  max-width: 1280px;
  width: 96%;
  margin: 4rem auto;
}
.hero > * {
  flex: 1;
}
.hero__banner__image {
  filter: grayscale(100%);
}
.hero__content {
  max-width: 68ch;
}
.hero__content__name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.hero__content__info {
  font-family: "Maven Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-bottom: 2rem;
}
.hero__content__info__item .bold_text {
  font-weight: 700;
}
.hero__content__info__item .medium_text {
  font-weight: 500;
}
.hero__content__info__item .link {
  color: black;
  font-weight: 500;
  text-decoration: underline;
}
.hero__content__call_to_action {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 1024px) {
  .call_to_action {
    padding: 1.4rem 2rem;
  }

  .hero {
    flex-direction: row;
  }
  .hero__content__name {
    font-size: 3rem;
  }
  .hero__content__info {
    text-align: left;
  }
  .hero__content__call_to_action {
    justify-content: flex-start;
    gap: 2rem;
  }
}
.featured_blogs__container {
  max-width: 1280px;
  width: 96%;
  margin: 4rem auto;
}
.featured_blogs .carousel {
  position: relative;
  height: 32rem;
}
.featured_blogs .carousel__button {
  position: absolute;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  color: black;
  font-size: 2rem;
  transition: all 0.3s ease;
  opacity: 0.65;
}
.featured_blogs .carousel__button:hover {
  cursor: pointer;
  color: white;
  opacity: 1;
}
.featured_blogs .carousel__button--prev {
  left: 2rem;
}
.featured_blogs .carousel__button--next {
  right: 2rem;
}
.featured_blogs .blogs {
  position: relative;
  height: 100%;
}
.featured_blogs .blogs .blog {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: all 0.3s ease;
}
.featured_blogs .blogs .blog--active {
  opacity: 1;
}
.featured_blogs .blogs .blog__container {
  display: block;
  position: relative;
  height: 100%;
}
.featured_blogs .blogs .blog__banner {
  height: 100%;
  width: 100%;
}
.featured_blogs .blogs .blog__banner__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}
.featured_blogs .blogs .blog__content {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: black;
}
.featured_blogs .blogs .blog__content__name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  max-width: 24ch;
  margin-bottom: 1rem;
}
.featured_blogs .blogs .blog__content__info {
  font-family: "Maven Pro", sans-serif;
  max-width: 64ch;
}

@media (min-width: 768px) {
  .featured_blogs .blogs .blog__content__name {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .featured_blogs .carousel {
    height: 42rem;
  }
  .featured_blogs .carousel__button {
    font-size: 3rem;
  }
}

/*# sourceMappingURL=home.css.map */
