.bold-text {
  font-weight: 700;
}

.medium-text {
  font-weight: 500;
}

.underlined-text {
  text-decoration: underline;
}

.prevent-scroll {
  height: 100vh;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #141414;
  font-family: "Roboto", sans-serif;
}

a {
  color: #141414;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.banner__image {
  max-width: 100%;
}

.content {
  max-width: 64ch;
}
.content__name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.125rem;
  font-weight: 700;
}
.content__info {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.4;
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .content__info {
    text-align: left;
  }
}

.carousel {
  overflow: hidden;
  position: relative;
  min-height: 38rem;
  border-radius: 0.6rem;
}
@media (min-width: 1024px) {
  .carousel {
    min-height: 48rem;
  }
}
.carousel__navigation__button {
  position: absolute;
  z-index: 9;
  background: none;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.125rem;
}
.carousel__navigation__button:hover {
  cursor: pointer;
}
.carousel__navigation__button--previous {
  left: 1rem;
}
.carousel__navigation__button--next {
  right: 1rem;
}
.carousel__cards .carousel_card {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
  opacity: 0;
  z-index: 0;
}
.carousel__cards .carousel_card--active {
  opacity: 1;
  z-index: 1;
}
.carousel__cards .carousel_card__banner {
  position: absolute;
  inset: 0;
}
.carousel__cards .carousel_card__banner__image {
  border-radius: 0.6rem;
  display: block;
  object-fit: cover;
  object-position: center;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.carousel__cards .carousel_card__content {
  position: absolute;
  inset: 0;
  top: unset;
  padding: 0 0.6rem;
  padding-bottom: 3rem;
}
.carousel__cards .carousel_card__content__name {
  font-size: 2.125rem;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 1rem;
  max-width: 38ch;
}
.carousel__cards .carousel_card__content__info {
  font-size: 1rem;
  font-family: 1rem;
  max-width: 64ch;
}
@media (min-width: 1024px) {
  .carousel__cards .carousel_card__content {
    padding: 0 2rem;
    padding-bottom: 3rem;
  }
}
.carousel__index {
  position: absolute;
  z-index: 1;
  bottom: 0.6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.carousel__index__dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: #e6e6e6;
}
.carousel__index__dot:hover {
  cursor: pointer;
}
.carousel__index__dot--active {
  background: #999999;
}

.project {
  display: block;
  position: relative;
  min-height: 18rem;
}
@media (min-width: 1024px) {
  .project:hover .project__content {
    color: #e6e6e6;
  }
  .project:hover .project__content__name {
    margin-bottom: 1rem;
  }
  .project:hover .project__content__info {
    height: 2rem;
  }
  .project:hover .project__banner {
    background: rgba(0, 0, 0, 0.5);
  }
  .project:hover .project__link_icon {
    opacity: 1;
  }
}
.project__content {
  position: absolute;
  inset: 1rem;
  top: auto;
}
.project__content__name {
  display: block;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
}
@media (min-width: 1024px) {
  .project__content__name {
    margin-bottom: 0;
  }
}
.project__content__info {
  font-size: 0.765rem;
  font-weight: 300;
  max-width: 38ch;
  transition: all 0.3s ease;
}
@media (min-width: 1024px) {
  .project__content__info {
    height: 0px;
    overflow: hidden;
  }
}
.project__banner {
  height: 100%;
  border-radius: 0.6rem;
  transition: all 0.3s ease;
}
.project__banner__image {
  border-radius: 0.6rem;
  display: block;
  object-fit: cover;
  object-position: center;
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.project__link_icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 0;
  transition: all 0.3s ease;
}

.hero {
  width: 92%;
  max-width: 1280px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
@media (min-width: 768px) {
  .hero {
    width: 88%;
  }
}
@media (min-width: 1024px) {
  .hero {
    width: 84%;
  }
}
@media (min-width: 1280px) {
  .hero {
    width: 80%;
  }
}
@media (min-width: 1536px) {
  .hero {
    width: 80%;
  }
}
.hero > * {
  flex: 1;
}
@media (min-width: 1024px) {
  .hero {
    flex-direction: row;
  }
}
.hero__container {
  background: #e6e6e6;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.hero .banner__image {
  filter: grayscale(100%);
}
.hero .content__name {
  display: block;
  margin-bottom: 1.5rem;
}
.hero .content__info__name {
  display: inline;
  font-size: 1rem;
  font-weight: 400;
}
.hero .content .call_to_action__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 1024px) {
  .hero .content .call_to_action__container {
    justify-content: flex-start;
  }
}

.featured_blogs__container {
  width: 92%;
  max-width: 1280px;
  margin: 8rem auto;
}
@media (min-width: 768px) {
  .featured_blogs__container {
    width: 88%;
  }
}
@media (min-width: 1024px) {
  .featured_blogs__container {
    width: 84%;
  }
}
@media (min-width: 1280px) {
  .featured_blogs__container {
    width: 80%;
  }
}
@media (min-width: 1536px) {
  .featured_blogs__container {
    width: 80%;
  }
}

.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.technologies__container {
  width: 92%;
  max-width: 1280px;
  margin: 8rem auto;
}
@media (min-width: 768px) {
  .technologies__container {
    width: 88%;
  }
}
@media (min-width: 1024px) {
  .technologies__container {
    width: 84%;
  }
}
@media (min-width: 1280px) {
  .technologies__container {
    width: 80%;
  }
}
@media (min-width: 1536px) {
  .technologies__container {
    width: 80%;
  }
}
.technologies > * {
  flex: 1;
}
@media (min-width: 1024px) {
  .technologies {
    flex-direction: row;
  }
}
.technologies .content__name {
  margin-bottom: 1.5rem;
}
.technologies .content__info {
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 2rem;
}
.technologies .content__technology_list {
  margin-bottom: 2rem;
}
.technologies .content__technology_list__item {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}
.technologies .content__technology_list__item__icon {
  margin-right: 0.8rem;
}
.technologies .content .call_to_action {
  text-transform: uppercase;
}
.technologies__banner {
  position: relative;
  min-height: 26rem;
  filter: grayscale(100%);
}
.technologies__banner__container {
  display: block;
  width: 4.5rem;
  padding: 1rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .technologies__banner__container {
    width: 6rem;
  }
}
.technologies__banner__container:hover {
  transition: 0.3s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.technologies__banner__container--special {
  width: 8rem;
}
.technologies__banner__container--orientation {
  width: fit-content;
}
.technologies__banner__container__icon {
  display: block;
  width: 100%;
}

.projects__container {
  width: 92%;
  max-width: 1280px;
  margin: 8rem auto;
}
@media (min-width: 768px) {
  .projects__container {
    width: 88%;
  }
}
@media (min-width: 1024px) {
  .projects__container {
    width: 84%;
  }
}
@media (min-width: 1280px) {
  .projects__container {
    width: 80%;
  }
}
@media (min-width: 1536px) {
  .projects__container {
    width: 80%;
  }
}
.projects__name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.125rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}
.projects__gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .projects__gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .projects__gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
.projects__all_projects_link {
  display: block;
  width: fit-content;
  margin-left: auto;
  font-size: 1rem;
}
.projects__all_projects_link__icon {
  margin-right: 0.6rem;
}
.projects__all_projects_link__name {
  font-weight: 700;
}

.newsletter__container {
  width: 92%;
  max-width: 1280px;
  margin: 8rem auto;
}
@media (min-width: 768px) {
  .newsletter__container {
    width: 88%;
  }
}
@media (min-width: 1024px) {
  .newsletter__container {
    width: 84%;
  }
}
@media (min-width: 1280px) {
  .newsletter__container {
    width: 80%;
  }
}
@media (min-width: 1536px) {
  .newsletter__container {
    width: 80%;
  }
}

/*# sourceMappingURL=home.css.map */
