.navigation_toggle {
  border: none;
  background: none;

  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  &:active {
    transform: translateX(0) scale(1);
  }

  &__icon {
    font-size: $large-font;
  }
}
