.social_links {
  &__list {
    display: flex;
    align-items: center;
    gap: $item-spacing-small;

    &__item {
      transition: all 0.3s ease;

      &:hover {
        color: $primary-font-color-light;
        transform: translateY(-0.1rem) scale(1.1);
      }

      &:active {
        transform: translateX(0) scale(1);
      }
    }
  }
}
