.carousel {
  overflow: hidden;
  position: relative;

  min-height: 38rem;

  border-radius: 0.6rem;

  @media (min-width: $breakpoint-lg) {
    min-height: 48rem;
  }

  &__navigation {
    &__button {
      position: absolute;
      z-index: 9;
      background: none;
      border: none;
      top: 50%;
      transform: translateY(-50%);

      font-size: $large-font;

      &:hover {
        cursor: pointer;
      }

      &--previous {
        left: $item-spacing-regular;
      }

      &--next {
        right: $item-spacing-regular;
      }
    }
  }

  &__cards {
    .carousel_card {
      display: block;
      position: absolute;

      height: 100%;
      width: 100%;

      transition: all 0.3s ease;
      opacity: 0;
      z-index: 0;

      &--active {
        opacity: 1;
        z-index: 1;
      }

      &__banner {
        position: absolute;
        inset: 0;

        &__image {
          border-radius: 0.6rem;
          display: block;
          object-fit: cover;
          object-position: center;

          position: absolute;
          inset: 0;

          width: 100%;
          height: 100%;
        }
      }

      &__content {
        position: absolute;
        inset: 0;
        top: unset;

        padding: 0 $content-spacing-tiny;
        padding-bottom: $content-spacing-medium;

        &__name {
          font-size: $large-font;
          font-family: $primary-font;
          margin-bottom: $content-spacing-small;

          max-width: 38ch;
        }

        &__info {
          font-size: $regular-font;
          font-family: $regular-font;

          max-width: 64ch;
        }

        @media (min-width: $breakpoint-lg) {
          padding: 0 $content-spacing-regular;
          padding-bottom: $content-spacing-medium;
        }
      }
    }
  }

  &__index {
    position: absolute;
    z-index: 1;
    bottom: $content-spacing-tiny;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &__dot {
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      background: $primary-color-light;

      &:hover {
        cursor: pointer;
      }

      &--active {
        background: $primary-color-dark;
      }
    }
  }
}
