.content {
  max-width: 64ch;

  &__name {
    font-family: $primary-font;
    font-size: $large-font;
    font-weight: $bold-font-weight;
  }

  &__info {
    line-height: 1.4;
    margin-bottom: $item-spacing-regular;
  }
}
