.experience {
  position: relative;
  padding-left: $content-spacing-medium;
  padding-bottom: $content-spacing-medium;
  border-left: 1px solid $primary-color;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -0.5rem;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: $primary-color-dark;
  }

  &__banner {
    background: $primary-color;
    width: fit-content;
    padding: $item-spacing-tiny $item-spacing-regular;
    margin-bottom: $item-spacing-medium;

    &__name {
      font-family: $secondary-font;
      font-weight: $bold-font-weight;
      font-size: $small-font;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    &__name {
      font-family: $primary-font;
      font-size: $medium-font;
      font-weight: $medium-font;
    }

    &__info {
      font-family: $secondary-font;
      font-size: $small-font;
      opacity: 0.65;
      margin-bottom: $item-spacing-regular;
    }
  }
}
