.qualification {
  position: relative;
  display: flex;
  flex-direction: column;

  max-width: $breakpoint-lg;

  background: $primary-color;
  border-radius: 0.6rem;

  transition: all 0.3s ease;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    transform: scale(1.01);

    .qualification {
      &__link_icon {
        opacity: 1;
      }
    }
  }

  &__content {
    order: 1;
    padding: 1rem;

    @media (min-width: $breakpoint-lg) {
      flex: 3;
      align-self: flex-end;
      order: 0;
    }

    &__name {
      display: block;
      font-size: $medium-font;
      font-weight: $bold-font-weight;
      margin-bottom: $item-spacing-regular;
    }

    &__info {
      max-width: 64ch;
    }
  }

  &__banner {
    @media (min-width: $breakpoint-lg) {
      flex: 1.5;
    }

    &__image {
      border-top-left-radius: 0.6rem;
      border-top-right-radius: 0.6rem;

      @media (min-width: $breakpoint-lg) {
        border-top-left-radius: 0;
        border-top-right-radius: 0.6rem;
        border-bottom-right-radius: 0.6rem;
      }
    }
  }

  &__link_icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    opacity: 0;
    transition: all 0.3s ease;
  }
}
