.testimonials_slider {
  position: relative;
  min-height: 36rem;
  max-width: $breakpoint-lg;
  margin: 0 auto;

  @media (min-width: $breakpoint-lg) {
    min-height: 16rem;
  }

  &__navigation_button {
    position: absolute;
    z-index: 9;
    bottom: 2rem;
    border: none;
    border-radius: 50%;
    background: $primary-color;
    padding: 1rem;
    transition: all 0.3s ease;

    &:hover {
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
      transform: scale(1.1);
    }

    &--previous {
      left: 0;
    }

    &--next {
      left: 4rem;
    }
  }

  .testimonial {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: $content-spacing-regular;
    transition: all 0.3s ease;

    opacity: 0;

    @media (min-width: $breakpoint-lg) {
      flex-direction: row;
      gap: $content-spacing-large;
    }

    &--active {
      opacity: 1;
    }

    &__content {
      margin: 0 auto;
      order: 1;

      @media (min-width: $breakpoint-lg) {
        flex: 3;
        order: 0;
      }

      &__info {
        text-align: justify;
        max-width: 68ch;
        line-height: 1.4;
        margin-bottom: $content-spacing-regular;
      }

      &__author {
        display: flex;
        flex-direction: column;

        &__name {
          font-family: $secondary-font;
          font-size: $medium-font;
          font-weight: $medium-font-weight;
        }

        &__info {
          font-size: $small-font;
          opacity: 0.65;
        }
      }
    }

    &__banner {
      @media (min-width: $breakpoint-lg) {
        flex: 1;
      }

      &__image {
        margin: 0 auto;
        max-width: 16rem;
        background: $primary-color;
        padding: 1rem;
        border-radius: 50%;
      }
    }
  }
}
